@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Mansalva&family=Montserrat&family=Preahvihear&family=Yellowtail&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
